header{
    text-align: center;

}

.keys-container{
    display: flex;
    flex-direction: column;
    width:80%;
    margin:3rem auto;
    border-radius:2px;
}
.keys-container>div{
    display: flex;
    justify-content: center;
}
button{
    width:2rem;
    height: 2rem;
    text-align: center;
    margin: .25rem;
    border-radius:6px;
    transition: .5s;
}
button:focus, button:hover,button:active,.isPressed{
    outline: 0;
    border: 2px solid turquoise;
    color:white;
    font-size: 1.1rem;
    background: turquoise;
    transform: scale(1.1);
}
